@model IEnumerable<LogicaLaag.Models.DetailerModel>

@{
    ViewData["Title"] = "Index";
}

<!doctype html>
<html lang="en">
<head class="align-content-lg-stretch">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <h1>Index</h1>

    <p>
        <a asp-controller="Detailer" asp-action="Aanmaken">Detailer aanmaken</a>
    </p>
</head>
<body >
    <table class="table table-responsive-sm" align="left">
        <thead >
            <tr>
                <th>
                    <button class="btn btn-outline-danger">@Html.DisplayNameFor(model => model.DetailerID)</button>
                </th>
                <th>
                    <button class="btn btn-outline-danger">@Html.DisplayNameFor(model => model.Naam)</button>
                </th>
                <th>
                    <button asp-controller="Dashboard" class="btn btn-outline-primary">@Html.ActionLink("Auto's aanpasssen", "AutoAanpassen")</button>
                </th>
                <th>
                    <button asp-controller="Dashboard" type="button" class="btn btn-outline-primary">@Html.ActionLink("Auto eigenaar aanpassen", "AutoEigenaarAanpassen") </button>
                </th>
                <th>
                    <button asp-controller="Dashboard" type="button" class="btn btn-outline-primary">@Html.ActionLink("Afspraken aanpassen", "AfsprakenAanpassen") </button>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DetailerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primar">@Html.ActionLink("Afspraken","OphalenVoorDetailer", "Afspraak", new { id = item.DetailerID })</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>