@model IEnumerable<DomeinLaag.Models.DetailerModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Aanmaken">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetailerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DetailerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DetailerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DetailerID }) |
                @Html.ActionLink("Verwijderen", "Verwijderen", new { id = item.DetailerID })
            </td>
        </tr>
}
    </tbody>
</table>
